//colors
$white: white;
$footerHeight: 50px;
$color_alto_approx: #dddddd;
$color_tundora_approx: #444444;
$color_fuscous_gray_approx: #bbb;
$color_bon_jour_approx: #e5e5e5;
$gray: #808080;
$red: red;
$color_mountain_mist_approx: #999;
$color_mine_shaft_approx: #333;
$black_15: rgba(0,0,0,.15);
$black_17: rgba(0,0,0,.175);
$color_shark_approx: #262626;
$sidebarExpandedWidth: 280px;
$brand: #59be7b;
$brand-hover: #40a462;

//@extend-elements
//original selectors
//.tc-sidebar-entry input[type="text"], .tc-sidebar-entry textarea
%extend_1 {
  padding: 3px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  border: 1px solid $gray;
  background-color: $white;
  height: 12px;
  margin: 0;
}
.timecamp {

  .monospaced {
    font-family: Arial, monospace !important;
  }

  .tc-sidebar {
    all: initial;
    background: #fff;
    background: -moz-linear-gradient(left, #fff 96%,#eee 100%);
    background: -webkit-linear-gradient(left, #fff 96%,#eee 100%);
    background: linear-gradient(to right, #fff 96%,#eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 );
    border-right: 1px solid $color_fuscous_gray_approx;
    color: $color_mine_shaft_approx;
    position: fixed;
    height: 100%;
    left: 0;
    width: $sidebarExpandedWidth;
    z-index: 1000;
    font-size: 12px;
    font-family: proxima-nova, 'Helvetica Neue', Arial, sans-serif;
    line-height: 12px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;

    .fa {
      vertical-align: middle;
    }
    .row {
      margin: 0;
      padding: 3px 5px 3px 0;
    }
    .tc-charts {
      position: relative;
    }
    .chart-icon {
      height: 250px;

      position: absolute;
      padding-right: 12px;
      right: 0;
      background: $white;
      text-align: right;
      width: 100px;
      .fa {
        vertical-align: middle;
        line-height: 260px;
      }
    }

    .tc-logo {
      height: $footerHeight;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
    }
    .header {
      border-bottom: 2px solid $color_alto_approx;
      color: $color_fuscous_gray_approx;
      margin-top: 10px;
      margin-right: -5px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      .date-header {
        margin: 0 5px;
      }
    }
    .inline {
      display: inline-block;
    }
    .right {
      float: right;
    }
    .left {
      padding-left: 5px;
    }
    .invalid {
      border-color: $red;
    }
    .tc-chart {
      margin-top: 10px;
      padding: 0 5px;
    }
    .chart-canvas {
      width: 260px;
      height: 250px;
    }
    .tc-subtask-picker {
      position: absolute;
      top: 50px;
      left: 5px;
      width: 268px;
      color: $color_mine_shaft_approx;
      text-decoration: none;
      display: none;
      z-index: 1000;
      ul {
        float: left;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: $white;
        //Instead of the line below you could use @include background-clip($clip)
        background-clip: padding-box;
        border: 1px solid $black_15;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 4px;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 6px 12px $black_17;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        max-height: 700px;
        overflow-y: scroll;
      }
    }
    .tc-subtask-picker-entry {
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: $color_mine_shaft_approx;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        color: $color_shark_approx;
        text-decoration: none;
        background-color: $color_bon_jour_approx;
      }
    }
    &.collapsed {
      left: -230px;
      -webkit-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms;
      .tc-sidebar-scrollable {
        overflow: hidden;
      }
      .date-header {
        float: right;
      }
      .billable-header, .hours-header {
        display: none;
      }
      #tc-sidebar-start-button, #tc-sidebar-pick-button {
        border-color: transparent;
      }
      .add-time, .date-header, .duration {
        margin-right: 0;
        padding-right: 0 !important;
        text-align: left;
        width: 45px;
      }
      .row {
        margin-right: 0;
        padding-right: 0;
      }
      .tc-timer-state-icon {
        margin-right: -4px;
      }
    }
    &.expanded {
      left: 0;
      .chart-icon {
        display: none;
      }
      .tc-sidebar-scrollable {
        overflow-y: auto;
        overflow-x: hidden;
      }
      .add-time {
        float: left;
        opacity: 1;
        padding-right: 0 !important;
        text-align: left;
        width: 45px;
        span {
          display: inline;
        }
      }
    }
    .tc-subtask-picker-list-header {
      text-transform: uppercase;
      border-bottom: 1px solid $color_fuscous_gray_approx;
      font-weight: bold;
      padding-left: 5px;
      padding-top: 5px;
    }
    .add-time {
      border: 0;
      font-size: 10px;
      padding: 5px !important;
      opacity: .5;
      i {
        vertical-align: top;
      }
      span {
        display: none;
      }
    }
    .hidden {
      display: none;
    }
  }
  .tc-sidebar-header {
    background-color: $brand;
    z-index: 999999;
    position: fixed;
    top: 0;
    width: $sidebarExpandedWidth;
    float: right;
    height: 64px;
    #tc-sidebar-start-button {
      background-color: $brand;
    }
    &.running {
      background-color: #d9534f;
      #tc-sidebar-start-button {
        background-color: #d9534f;
      }
    }
    .task-name {
      max-width: 200px;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
  .tc-sidebar-footer {
    position: fixed;
    bottom: 0;
    background-color: $white;
    width: $sidebarExpandedWidth;
    float: right;
    overflow: hidden;
    a {
      color: inherit;
    }
  }
  .tc-sidebar-footer-box {
    width: 76px;
    height: $footerHeight;
    line-height: $footerHeight;
    display: inline-block;
    float: left;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $color_alto_approx;
      color: $color_tundora_approx;
    }
    .fa {
      vertical-align: middle;
      margin: auto;
      line-height: 50px;
    }
  }
  .tc-sidebar-footer-tclogo {
    width: 50px;
    float: right;
  }
  .tc-sidebar-scrollable {
    position: fixed;
    top: 64px;
    padding-bottom: 15px;
    height: calc(100% - 146px );
    width: $sidebarExpandedWidth;
  }
  .tc-sidebar-scrollable-inner {
    width: 100%;
  }
  .tc-sidebar-time-details {
    width: 100%;
  }
  #tc-sidebar-start-button, #tc-sidebar-pick-button {
    background: $brand;
    border: 2px solid rgba(255,255,255,.75);
    display: block;
    margin: 7px;
    text-align: left;
    vertical-align: middle;
    padding: 10px 12px !important;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 238px;
    height: 25px;
    line-height: 25px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
    &:hover {
      border-color: $white;
    }
  }
  .tc-timer-state-icon {
    display: inline-block;
    float: right;
    .fa {
      line-height: 25px;
    }
  }
  .tc-sidebar-total-time {
    border-bottom: 2px solid $color_alto_approx;
    color: $color_fuscous_gray_approx;
    font-size: 12px;
    font-weight: bold;
    float: right;
    position: fixed;
    bottom: 50px;
    width: 276px;
    padding-top: 2px;
    padding-right: 5px;

    .total-label {
      padding-right: 8px;
    }
  }
  .tc-sidebar-entry {
    padding: 10px 0;
    cursor: pointer;
    &:nth-child(even) {
      background: #f5f5f5;
    }
    > .row {
      &:first-child {
        padding-top: 0;
      }
    }
    &.active {
      background-color: $color_bon_jour_approx;
    }
    &:hover {
      background-color: $color_bon_jour_approx;
    }
    .separator {
      width: 4px;
    }
    .billable-checkbox {
      vertical-align: middle !important;
      margin: 0 !important;
      padding: 0 !important;
      min-height: 0 !important;
    }
    .note-input-box {
      padding-left: 5px;
      textarea {
        width: 100%;
        height: 70px;
      }
      .btn-success {
        background-color: $brand;
        &:hover {
          background-color: $brand-hover;
        }
      }
    }
    .time-input {
      width: 15px;
    }
    .date-input {
      width: 101px;
    }
    input[type="text"] {
      @extend %extend_1;
    }
    textarea {
      @extend %extend_1;
      width: 98px;
      box-sizing: border-box;
    }
    .note-placeholder {
      color: $color_fuscous_gray_approx;
      font-style: italic;
      padding: 0 5px;
    }
  }
  .tc-sidebar-entry-single {
    .time-from {
      width: 30px;
    }
    .time-to {
      width: 30px;
    }
    .billable {
      margin-left: 50px;
      width: 13px;
    }
    .duration {
      color: #555;
      font-weight: bold;
    }
  }
  .tc-sidebar-day-header {
    margin-top: 5px;
    .billable-header {
      padding-left: 60px;
    }
    .hours-header {
      padding-right:5px;
    }
  }
  .tc-sidebar-placeholder {
    position: absolute;
    top: 50%;
    right: 32px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(-90deg);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: top right;
    font-size: 15px;
    font-weight: bold;
    width: auto;
    height: auto;
    margin-top: -60px;
  }
  .tc-sidebar-entry-new .billable {
    margin-left: 21px;
    width: 13px;
  }
}
.ToastManager {
  left: 30px !important;
}
.ToastManager-toast {
  margin: 10px 30px !important;
}