@import '../../style/common';

.timecamp {
  .context-menu {
    @include theme-variables;
    font-family: $defaultFontFamily;
    font-size: 14px;
    font-weight: normal;
    color: var(--primaryTextColor);
    width: 440px;
    height: 563px;
    box-sizing: border-box;
    border: var(--defaultBorderColor) 1px solid;
    display: block;
    position: fixed;
    background-color: var(--primaryBackgroundColor);
    line-height: initial;
    z-index: 99999;
    overflow: hidden;

    &--hidden {
      display: none;
    }

    .context-menu-overflow-wrapper {
      overflow: auto;
      height: calc(100% - 72px);
      padding: 20px;
      box-sizing: border-box;
    }

    &-extended-height {
      overflow-y: auto;
    }

    .TaskPicker,
    .TagPicker,
    .note,
    .duration {
      margin-top: 15px;
    }

    .billable {
      margin-top: 15px;
    }

    &__info-field {
      padding: 10px 14px 10px 16px;
      border-radius: 8px;
      background-color: var(--infoFieldBackgroundColor);
      border: solid 1px var(--infoFieldBorderColor);
      color: var(--infoFieldTextColor);
    }
  }
}
