@import '../../style/common';

.context-menu {
  font-family: $defaultFontFamily;
  font-size: 14px;
  color: $primaryTextColor;
  width: 440px;
  height: 563px;
  padding: 20px;
  box-sizing: border-box;
  border: #aea6ab 1px solid;
  display: block;
  position: absolute;
  background-color: $primaryBackgroundColor;
  line-height: initial;
  z-index: 99999;

  &--hidden {
    display: none;
  }

  .TaskPicker, .TagPicker, .note, .duration {
    margin-top: 15px;
  }

  .billable {
    margin-top: 15px;
  }

  &__info-field {
    padding: 10px 14px 10px 16px;
    border-radius: 8px;
    background-color: $infoFieldBackgroundColor;
    border: solid 1px $infoFieldBorderColor;
    color: $infoFieldTextColor;
  }
}
