@import '../../style/common';

.timecamp {
  .context-menu {
    @include theme-variables;

    font-family: $defaultFontFamily;
    font-size: 14px;
    font-weight: normal;
    color: $primaryTextColor;
    width: 440px;
    box-sizing: border-box;
    border: #aea6ab 1px var(--theme-border-color);
    display: block;
    position: fixed;
    background-color: var(--theme-background-color);
    line-height: initial;
    z-index: 99999;
    overflow: hidden;
    


    &--hidden {
      display: none;
    }

    .context-menu-overflow-wrapper {
      overflow: auto;
      padding: 20px;
      box-sizing: border-box;

      .billable-wrapper {
        margin-top:20px;        
      }      
    }

    &-extended-height {
      height: 666px;
    }

    .TaskPicker, .TagPicker, .note, .duration {
      margin-top: 15px;
    }

    &__info-field {
      padding: 10px 14px 10px 16px;
      border-radius: 8px;
      background-color: $infoFieldBackgroundColor;
      border: solid 1px $infoFieldBorderColor;
      color: $infoFieldTextColor;
    }
  }
}
