<div class="tc-sidebar-entry tc-sidebar-entry-single" data-entryId="{{id}}">
    <div class="row">
        <div class="time-from left inline monospaced">{{start_time_formatted}}</div>
        <div class="separator inline">-</div>
        <div class="time-to inline monospaced">{{end_time_formatted}}</div>
        <div class="billable inline">
            {{#isBillable}}
                <input type="checkbox" class="billable-checkbox" name="billable" value="1" checked/>
            {{/isBillable}}
            {{^isBillable}}
                <input type="checkbox" class="billable-checkbox" name="billable" value="1"/>
            {{/isBillable}}
        </div>
        <div class="duration right">
            <span class="monospaced">{{duration_formatted.hours}}</span>:<span class="monospaced">{{duration_formatted.minutes}}</span>:<span class="monospaced">{{duration_formatted.seconds}}</span>
        </div>
    </div>
    <div>
        <div class="note-placeholder">{{&description_formatted}}</div>
    </div>
    <div class="note-input-box hidden">
        <div class="row">
            <textarea name="note" class="note-input">{{description}}</textarea>
        </div>
        <div class="row right">
            <button class="btn btn-sm btn-link update-entry-cancel">Cancel</button>
            <button class="btn btn-sm btn-success update-entry-confirm">Save</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>