<a href="https://www.timecamp.com/app#/timesheets/timer" target="_blank">
    <div class="tc-sidebar-footer-box tc-sidebar-footer-ts">
        <i class="fa fa-lg fa-fw fa-clock-o"></i>
    </div>
</a>
<a href="https://www.timecamp.com/app#/reports/projects_and_tasks/projectsAndTasks" target="_blank">
    <div class="tc-sidebar-footer-box tc-sidebar-footer-reports">
        <i class="fa fa-lg fa-fw fa-area-chart"></i>
    </div>
</a>
<a href="https://www.timecamp.com/app#/invoices" target="_blank">
    <div class="tc-sidebar-footer-box tc-sidebar-footer-invoicing">
        <i class="fa fa-lg fa-fw fa-usd"></i>
    </div>
</a>
<div class="tc-sidebar-footer-box tc-sidebar-footer-tclogo">
    <div class="tc-logo tc-logo-19"></div>
</div>
