<div class="timecamp">
    <div class="tc-sidebar collapsed">
        <div class="tc-sidebar-header">
            <div class="tc-sidebar-button-box">
            </div>
        </div>
        <div class="tc-sidebar-scrollable">
            <div class="tc-sidebar-scrollable-inner right">
                <div class="tc-charts">
                    <div class="chart-icon"><i class="fa fa-2x fa-bar-chart"></i></div>
                    <div class="tc-chart">
                        <canvas id="tcBarChart" class="chart-canvas"></canvas>
                    </div>
                </div>
                <div class="tc-sidebar-time-details">
                </div>
            </div>
        </div>
        <div class="tc-sidebar-footer">
        </div>
    </div>
</div>