@import '../../style/common';

.timecamp {
  .Dropdown__button {
    font-family: $defaultFontFamily;
    border: 1px solid;
    border-color: var(--primaryBorderColor);
    border-radius: $defaultBorderRadius;
    padding: 10px 15px;
    display: flex;
    cursor: pointer;

    &:hover {
      border-color: var(--hoverBorderColor);
    }

    &--open {
      border-color: var(--primaryColor);
      color: var(--primaryColor);
    }

    &--disabled {
      background-color: var(--durationInputBackgroundColor);
      border-color: var(--durationInputBackgroundColor);
      color: var(--disabledFontColor);
      pointer-events: none;

      &:hover {
        border-color: var(--durationInputBackgroundColor);
        color: var(--disabledFontColor);
      }
    }
  }

  .Dropdown__button-text {
    flex: 1;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .Dropdown__icon {
    color: var(--tertiaryTextColor);
  }

  .Dropdown__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .Dropdown__content-box {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 6px 32px 0 var(--primaryShadowColor);
    border-radius: $defaultBorderRadius;
    overflow-y: hidden;
    z-index: 999999;
  }

  .Dropdown__icon-box {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Dropdown__icon {
    width: 11px !important;

    &--open {
      color: var(--primaryColor);
    }
  }
}
