$redOrangeColor: #ff3c00;
$algaeColor: #4bb063;
$whiteThreeColor: #dbdbdb;

.timecamp {
  /* The Checkbox */
  .Checkbox {
    $self: &;
    padding: 6px;
    display: block;
    position: relative;
    height: 100%;
    width: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;

    &--invalid {
      .Checkbox__checkmark {
        border-color: $redOrangeColor;
      }
    }
  }

  .Checkbox--disabled .Checkbox__checkmark {
    cursor: not-allowed;

  }

  /* Hide the browser's default checkbox */
  .Checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .Checkbox__checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 2px;
    border-color: $whiteThreeColor;
  }

  .Checkbox__middleCheckmark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 13px;
    width: 13px;
    border: 1px solid;
    border-radius: 2px;
    z-index: 1;
  }

  /* Create the Checkbox__checkmark/indicator (hidden when not checked) */
  .Checkbox__checkmark:after, .Checkbox__middleCheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the Checkbox__checkmark when checked */
  .Checkbox input:checked ~ .Checkbox__checkmark:after {
    display: block;
  }

  .Checkbox input:checked ~ .Checkbox__checkmark {
    background-color: $algaeColor;
    border: 1px solid $algaeColor;
  }

  /* Style the Checkbox__checkmark/indicator */
  .Checkbox .Checkbox__checkmark:after {
    left: 4px;
    bottom: 3px;
    width: 3px;
    height: 8px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .Checkbox .Checkbox__middleCheckmark:after {
    display: block;
    left: 4px;
    bottom: 3px;
    width: 3px;
    height: 11px;
    border-color: white;
    border-width: 0 2px 0 0;
    border-style: solid;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
