@import '../../style/common';

.popup-container {
    .tc-popup {
        width: 399px;
        font-family: $defaultFontFamily;
        font-size: 14px;
        font-weight: normal;
        color: $popupPrimaryTextColor;
        padding: 20px;
        position: relative;
        background-color: $popupBackground;
        display: flex;
        flex-direction: column;
        box-shadow: 0 6px 32px 0 $popupShadowGray;

        &--hidden {
            display: none;
        }
    }

    .login-window-wrapper {
        width: 100%!important;
    }

    .context-menu, .loginWindow {
        position: unset!important;
    }
}
