@import "../../style/common";

.timecamp {
  .footer {
    bottom: 0;    
    width: 100%;
    background-color: inherit;

    &__buttons {
      width: 100%;
      margin: 0 21px 0 0;
      padding: 1rem;
      display: flex;
    }

    &__button-save {
      background-color: $buttonActiveColor;
      color: $buttonActiveTextColor;
      border: none;
      font-family: $defaultFontFamily;
      font-size: $defaultFontSize;
      width: unset;
      margin-left: auto;
      margin-right: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      & span {
        text-transform: uppercase;
      }
    }

    &__button-cancel {
      border: solid 1px $primaryBorderColor;
      font-family: $defaultFontFamily;
      font-size: $defaultFontSize;
      margin-right: 10px;
    }

    &__button-disabled {
      background-color: $buttonDisabledColor;
      color: $disabledFontColor;
      cursor: not-allowed;
    }
  }
}
