@import '../../style/common';

.timecamp {
  .footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    border-top: var(--theme-border-display-color) 1px solid;
    background-color: inherit;

    &__buttons {
      float: right;
      margin: 0 21px 0 0;
    }

    &__button-save {
      background-color: $buttonActiveColor;
      color: $buttonActiveTextColor;
      border: none;
      font-family: $defaultFontFamily;
      font-size: $defaultFontSize;
      width: 133px;
    }

    &__button-cancel {
      border: solid 1px $primaryBorderColor;
      font-family: $defaultFontFamily;
      font-size: $defaultFontSize;
      background-color: var(--theme-background-color);
      color: var(--theme-color);
    }

    &__button-disabled {
      background-color: var(--theme-background-color-secondary);
      color: $disabledFontColor;
      cursor: not-allowed;
    }
  }
}
