@import '../../style/common';

.timecamp {
  .TaskPicker__loader_wrapper {
    text-align: center;
  }

  .TaskPicker__loader {
    padding: 25px 0 25px 0;
  }

  .TaskPicker__TaskRow {
    padding: 6px 6px 6px 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    width: 100%;
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $taskPickerFontColor;
    display: inline-block;
    width: calc(100% - 50px);

    &__disabled {
      color: $disabledFontColor;
      cursor: not-allowed;
    }

    &:hover {
      color: #4bb063 !important;
      text-decoration: none !important;
      background: #f8f8f8;
      border-radius: 4px;
    }

    &__leaf {
      font-weight: 400;
      float: none;
      display: inline-block;
    }

  }

  .TaskPicker__recently_used .TaskPicker__TaskRow {
    display: block;
  }

  .TaskPicker__TcUiClearedUl {
    margin: 0;
    padding: 0;
    color: $taskPickerFontColor;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .TaskPicker__tree_collapsed, .TaskPicker__tree_expanded {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 12px;
    display: inline-block;
    padding: 9px 0px;
  }

  .TaskPicker__icon_box {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .TaskPicker__icon_box__clickable {
    cursor: pointer;
  }

  .TaskPicker__icon {
    width: 11px !important;

    &--open {
      color: $primaryColor;
    }
  }

  .TaskPicker__hidden {
    display: none;
    visibility: hidden;
  }

  ul.TaskPicker__TcUiClearedUl {
    list-style: none;
  }

  ul.TaskPicker__TcUiClearedUl li a {
    width: calc(100% - 30px);
  }

  ul.TaskPicker__TcUiClearedUl li {
    line-height: 1;
    list-style: none;
    display: block;
    position: relative;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    padding: 2px 0px;
  }

  .TaskPicker__list > .TaskPicker__TcUiClearedUl > li {
    padding: 0;
  }

  .TaskPicker__dropdown {
    max-width: 410px;

    .Dropdown__button-text {
      color: $disabledFontColor;
    }
  }

  .TaskPicker__content {
    -webkit-box-shadow: 0 6px 32px hsla(0, 0%, 70%, .5) !important;
    box-shadow: 0 6px 32px hsla(0, 0%, 70%, .5) !important;
    border-radius: 8px;
    box-shadow: 0 6px 32px 0 var(--white-five);
    background-color: var(--white);
    font-family: Poppins;
    width: 100%;
    background-color: #ffffff;
    width: 100%;
  }

  .TaskPicker__content_box {
    padding: 15px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    div {
      &::-webkit-scrollbar {
        background:initial;
        width: 7px;
      }
      &::-webkit-scrollbar-track {
        background:initial;
      }
      &::-webkit-scrollbar-thumb {
        background: $secondaryTextColor;
        border-radius: 4px;
        opacity: 0.2;
      }
    }
  }

  .TaskPicker__dropdown__invalid {
    color: $redOrangeColor;
    border-color: $redOrangeColor;
  }

  .TaskPicker__invalid {
    color: $redOrangeColor;
    padding: 7px 3px;
    font-family: Poppins;
    font-size: 14px;
  }

  .TaskPicker__search_container {
    padding: 15px 15px 0 15px;
    margin-bottom: 5px;
  }

  .TaskPicker__label {
    font-size: 12px;
    font-weight: bold;
    color: $labelFontColor;
    text-transform: uppercase;
    padding: 0px 0 10px 6px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .TaskPicker__TaskList {
    padding: 10px 0px;
    font-size: 12px;
  }

  .TaskPicker__TaskList__label {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .TaskPicker__TaskList__label, .TaskPicker__TaskRow__label {
    cursor: pointer;
  }

  .TaskPicker__mandatory {
    width: 68px;
    height: 17px;
    margin-left: 8px;
    padding: 3px 5px 2px 5px;
    border-radius: 11px;
    border: solid 1px $redOrangeColor;
    color: $redOrangeColor;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
  }

  .TaskPicker__button_container {
    width: calc(100% - 30px);
    padding: 15px;
    border-top: 1px solid #d8d8d8;
  }

  .TaskPicker__button {
    background-color: $algaeColor;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    font-family: Poppins;
    cursor: pointer;
  }

  .Test {
    margin: 100px 100px;
    border: 1px solid black;
    width: 100px;
  }

  .Task__dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px 7px 2px 2px;
  }

  .TaskPicker__SelectedTask__path {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $taskPickerPathFontColor;
  }

  .TaskPicker__SelectedTask__label {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $taskPickerFontColor;
  }


  .TaskPicker__not_found {
    text-align: center;
    margin: 20px;
  }

  .TaskPicker__not_found_image {
    width: 176px;
    height: 137px;
  }

  .TaskPicker__not_found_text {
    height: 26px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $taskPickerFontColor;
  }

  .TaskPicker__tree_row {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  .TaskPicker__not_found_text {
    height: 26px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $taskPickerFontColor;
  }

  .TagPicker__no_tags_text, .TagPicker__no_tags_label {
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    color: $taskPickerFontColor;
  }

  .TagPicker__no_tags_label {
    font-weight: 600;
  }

  .tooltiptext {
    visibility: hidden;
    background-color: #ff3c00;
    color: #f8f8f8;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    font-family: Poppins;
    font-size: 12px;

    top: 50px;
    left: 10px;

    position: absolute;
    z-index: 999999;
  }

  .TaskPicker__tree_row:has(> TaskPicker__TaskRow__disabled):hover + .tooltiptext {
    visibility: visible;
  }
}
