@import '../../style/common';

.timecamp {
  .SearchInput {
    position: relative;
    color: var(--secondaryTextColor);
  }

  .SearchInput__icon {
    position: absolute;
    height: 100%;
    left: 15px;
  }

  .SearchInput__input {
    border: 1px solid;
    border-color: var(--defaultFieldBackgroundColor);
    background: var(--defaultFieldBackgroundColor);
    border-radius: $defaultBorderRadius;
    outline: none;
    font-size: 14px;
    width: calc(100% - 30px);
    color: var(--primaryTextColor);
    padding: 10px 15px;

    &:hover, &:focus {
      border-color: var(--hoverBorderColor);
    }

    &:active, &:focus {
      border-color: var(--primaryColor);
    }

    &--with-icon {
      padding: 10px 15px 10px 40px;
    }
  }
}
