@import '../../style/common';

.timecamp {
  .loginWindow {
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    color: $primaryTextColor;
    width: 440px;
    height: 563px;
    padding: 27px;
    box-sizing: border-box;
    border: #aea6ab 1px solid;
    display: block;
    position: fixed;
    background-color: $primaryBackgroundColor;
    line-height: initial;
    z-index: 999999;

    input {
      color: $primaryTextColor;
      &::placeholder {
        color: $secondaryTextColor;
      }
    }

    &--hidden {
      display: none;
    }

    .header {
      margin: -12px 0px 125px -7px;
    }

    &__main-info {
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 24px;
    }

    &__desc {
      text-align: center;
      margin: 0 0 40px 0;
      font-size: $defaultFontSize;
    }

    &__button-login {
      display: block;
      margin: auto auto 22px auto;
      background-color: $buttonActiveColor;
      color: $buttonActiveTextColor;
      border: none;
      border-radius: $defaultBorderRadius;
      width: 340px;
      height: 39px;
      line-height: 0;
    }

    &__bottom-info {
      text-align: center;
      font-size: $defaultFontSize;

      &-link {
        text-decoration: none;
        color: $popupLinkColor;
        &:visited {
          color: $popupLinkColor;
        }
      }
    }
  }}
