@import '../../style/common';

.timecamp {
  .time-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;

    .time-selector {
      flex: 1;

      &__input {
        display: block;
        height: 37px;
        width: 109px;
        padding: 0 0 0 15px;
        border-radius: 8px;
        border: 1px solid var(--primaryBorderColor);
        outline: none;
        text-transform: capitalize;
        background-color: var(--primaryBackgroundColor);
        color: var(--primaryTextColor);

        &:hover {
          border-color: var(--hoverBorderColor)!important;
        }

        &:active, &:focus, &:focus-within {
          border-color: var(--primaryColor);

          .time-picker__arrows {
            visibility: visible;
          }
        }
      }

      label {
        text-transform: capitalize;
      }
    }

    &__stop {
      label {
        margin-left: 0;
      }
    }

  }
}
