@import '../../../style/common';

.timecamp {
  .time-picker {
    height: 39px;
    width: 120px;
    border-radius: $defaultBorderRadius;
    border: solid 1px var(--primaryBorderColor);
    font-size: $defaultFontSize;
    font-family: $defaultFontFamily;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--primaryBackgroundColor);
    box-sizing: border-box;
    padding-left: 15px;

    &:hover {
      border-color: var(--hoverBorderColor);
    }

    &:active, &:focus, &:focus-within {
      border-color: var(--primaryColor);

      .time-picker__arrows {
        visibility: visible;
      }
    }

    &__input-picker::-webkit-outer-spin-button,
    &__input-picker::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &__input-picker[type=number] {
      -moz-appearance: textfield;
    }

    &__input-picker {
      border: none;
      outline: none;
      text-align: center;
      background-color: inherit;
      caret-color: transparent;
      padding: 0;
      min-width: 0;
      color: var(--primaryTextColor);
    }

    &__arrows {
      display: flex;
      flex-direction: column;
      flex: 1;
      font-size: 10px;
      margin-right: 2px;
      height: 100%;
      color: var(--quinaryTextColor);
      visibility: hidden;

      .arrow {
        background-color: var(--defaultFieldBackgroundColor);
        align-self: flex-end;
        height: 50%;
        width: 17px;
        cursor: pointer;
        font-size: 9px;
        display: flex;
        justify-content: center;

        svg {
          align-self: center;
        }
      }

      &--up {
        border-top-right-radius: $defaultBorderRadius;
      }

      &--down {
        border-bottom-right-radius: $defaultBorderRadius;
      }
    }

    &__placeholder {
      width: 100%;
      text-align: left;
      cursor: pointer;
      color: var(--secondaryTextColor);

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
