@import '../../style/common';

.timecamp {
  .loginForm {
    &__login {
      display: block;
      margin: auto;
    }

    input {
      display: block;
      border: 1px solid $primaryBorderColor;
      border-radius: $defaultBorderRadius;
      box-sizing: border-box;
      height: 29px;
      padding-left: 8px;
      background: unset;
      font-family: $defaultFontFamily;
      font-size: $defaultFontSize;
    }

    &__password {
    }

    &__button-login {
      background-color: $buttonActiveColor;
      color: $buttonActiveTextColor;
      border: none;
      border-radius: $defaultBorderRadius;
    }
  }
}
