#tc-logo {
    position: absolute;
    margin-left:1px;
    margin-top:-8px;
    top: 50%;
}

#timecamp-track-button {
    width: 102px;
    height: 26px;
    background-color: #4bb063;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 15px;
    margin: 0 5px 0px 0px;
}

#timecamp-track-button .stopTrackingIcon {
    display: none;
    background-color: white;
    border-radius: 2px;
    line-height: inherit;
    margin: 7px 6px 0 1px;
    width: 12px;
    height: 11px;
}

#timecamp-track-button.timeTrackingActive {
    background-color: #ff3c00;
}

#timecamp-track-button.timeTrackingActive .startTrackingIcon {
    display: none;
}

#timecamp-track-button.timeTrackingActive .stopTrackingIcon {
    display: inline-block;
}

#timecamp-track-button .startTrackingIcon {
    padding: 7px 7px 0 1px;
}

#timecamp-track-button .time {
    padding: 0 0 0 1px;
}

#timecamp-track-button-new {
    color: #646f79;
    margin: 0 6px 0 0;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #b7bfc6;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    transition: border 200ms,box-shadow 200ms,color 200ms;
}

#timecamp-track-button-new:hover {
    -webkit-box-shadow: 0 0 0 3px rgb(92, 184, 92);
}

#timecamp-track-button-new .text {
    display: inline-block;
    padding-left: 23px;
    padding-right: 5px;
}

#timecamp-track-button-new .time {
    font-size: 12px;
    padding: 2px 3px;
    font-family: "Helvetica Neue", Arial, Sans-Serif;
    border-radius: 3px;
    color: white;
    margin-left: -6px;
    text-shadow: none;
    background-color: green;
    min-width: 33px;
    display: inline-block;
    line-height: 14px;
}

@media print {
    .tc-sidebar {
        display: none!important;
    }

    #asana_full_page {
        margin-left: 0!important;
    }
}
