.tc-sidebar {
    z-index: 10000000!important;
}

#slide-panel-container .title-editable {
    width: 64%!important;
    display: inline-block;
}

.timecamp-track-button {
    background-color: #4bb063;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    outline: none;
    display: flex;
    text-transform: uppercase;
}

.timecamp-track-button.timeTrackingActive {
    background-color: #ff3c00;
}

.timecamp-track-button .startTrackingIcon {
    line-height: inherit;
}

.timecamp-track-button .stopTrackingIcon {
    display: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 2px;
    line-height: inherit;
}

.timecamp-track-button.timeTrackingActive .startTrackingIcon {
    display: none;
}

.timecamp-track-button.timeTrackingActive .stopTrackingIcon {
    display: inline-block;
}

.timecamp-track-button-taskPage {
    float: right;
    width: 136px;
    height: 28px;
    margin: 4px 24px 0 0;
}

.timecamp-track-button-taskPage .startTrackingIcon {
    font-size: 17px;
    margin: 0 0 0 9px;
}

.timecamp-track-button-taskPage .stopTrackingIcon {
    margin: 4px 0 0 9px;
}

.timecamp-track-button-taskPage .text {
    margin: 3px 0 0 8px;
    font-weight: 300;
}

.timecamp-track-button-taskPage .time {
    margin: 2px 0 0 16px;
}

.timecamp-track-button-list {
    width: 22px;
    height: 22px;
    margin: 0 6px 0 0;
}

.timecamp-track-button-list.timeTrackingActive {
    width: 78px;
    height: 22px;
    margin: 0 6px 0 0;
}

.timecamp-track-button-list .startTrackingIcon {
    font-size: 11px;
    margin-top: -7px;
}

.timecamp-track-button-list .stopTrackingIcon {
    width: 10px;
    height: 10px;
    margin: 5px 0 0 0;
}

.timecamp-track-button-list .text {
    visibility: hidden;
}

.timecamp-track-button-list .time {
    margin: -8px 0 0 7px;
    font-size: 13px;
}

.tc-entries {
    margin: 25px;
}

.tc-entry {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    padding: 5px 0;
}

.tc-entry-info .tc-entry-info-name {
    color: #009aff;
    font-weight: bold;
}

.tc-entry-info .tc-entry-info-text {
    font-size: 12px;
}

.tc-entry-info .tc-entry-info-duration {
    font-weight: bold;
}

.tc-entry-time {
    display: flex;
    margin: 2px;
}

.tc-entry-time .tc-entry-time-decorator{
    padding: 0 3px;
    font-size: 10px;
    color: #8a8a8a;
}

.tc-entry-info  {
    margin: 2px;
}

.tc-entry-info span {
    padding-right: 5px;
}

.tc-no-entry-info {
    text-align: center;
}
