.tc-sidebar {
    display: none !important;
}

#tc-logo {
    vertical-align: middle;
    margin-top: -1px;
    padding: 0;
}

#timecamp-track-button {
    margin-left: 20px;
}

#timecamp-track-button .text {
    vertical-align: middle;
    margin: 1px 0.3em;
    width: auto;
    display: inline-block;
    color: #b9c3ce !important;
}

#timecamp-track-button .time {
    font-size: 12px;
    margin: -2px 5px 1px;
    padding: 1px 4px;
    border-radius: 3px;
    background-color: #59be7b;
    color: #FFFFFF !important;
}

#tc-badge {
    padding: 1px 4px;
    height: 14px;
}

#tc-integration-link {
    margin-top: 5px;
}

.tc-button-cont {
    display: inline;
    cursor: pointer;
}

.button-link {
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 5px;;
    -moz-border-radius: 5px;;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    height: 23px;
    display: inline-block;
    padding: 0px 0px 0px 5px;
}