@import '../../style/common';

.timecamp {
  .note {
    &__textarea {
      width: 368px;
      height: 81px;
      margin: 5px 0 0;
      padding: 10px 15px 10px 15px;
      object-fit: contain;
      border-radius: 8px;
      border: solid 1px $primaryBorderColor;
      background-color: $primaryBackgroundColor;
      color: $primaryTextColor;
      font-family: unset;
      outline: none;
      resize: none;
      box-sizing: unset;

      &::placeholder {
        color: $secondaryTextColor;
      }

      &:hover, &:focus {
        border-color: $hoverBorderColor;
      }
    }

    &__counter {
      margin: 0;
      float: right;
      font-size: 12px;
      color: $secondaryTextColor;
    }
  }
}
