@import '../../style/common';

.timecamp {
  .note {
    background: inherit;
    color: inherit;
    height: 128px;

    &__label {
      margin-top: 0;
      display: inline-block;
    }
    &__textarea {
      width: calc(100% - 30px);
      height: 81px;
      margin: 5px 0 0;
      padding: 10px 15px 10px 15px;
      object-fit: contain;
      border-radius: 8px;
      border: solid 1px $primaryBorderColor;
      background-color: $primaryBackgroundColor;
      color: $primaryTextColor;
      outline: none;
      resize: none;
      box-sizing: unset;
      font-family: $defaultFontFamily;
      font-size: $defaultFontSize;

      &::placeholder {
        color: $secondaryTextColor;
      }

      &:hover, &:focus {
        box-shadow: none;
        border-color: $hoverBorderColor;
      }
    }

    &__counter {
      margin: 0;
      float: right;
      font-size: 12px;
      color: $secondaryTextColor;
    }
  }
}
