@import "../../style/common";

.tcAsanaTaskRowHelperClass {
  overflow: unset!important;
  &:hover {
    .timecamp {
      &.dark {
        .tcUserStats {
          .tcDropdown {
            background: rgba(75, 176, 99, 0.2);
            color: #DCEFE0;
            display: block;
          }
        }
      }
      .tcUserStats {
        .tcDropdown {
          background-color: rgba(75, 176, 99, 0.2);
          color: #347944;
          display: block;
        }
      }
    }
  }
}

.timecamp {
  &.dark {
    .tcDropdown {
      background: rgba(107, 107, 107, 0.3);
      color: #BEBEBE;

      &__menu {
        box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.17);
        background-color: #323333;

        &__item {
          color: #E9E9E9;
          &:hover {
            background-color: #4F4F4F;
          }
          &.selected {
            background-color: rgba(77, 149, 95, 0.2);
            color: #4D955F;
          }
        }
      }
    }
  }
  .tcDropdown {
    cursor: pointer;
    height: 100%;
    text-align: left;
    position: relative;
    border-radius: 16px;
    background-color: #E9E9E9;
    color: $tertiaryTextColor;
    margin-right: 10px;
    display: none;
    &--visible {
      display: block;
    }

    &__input {
      padding: 1px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;

      &__info {
        font-size: $defaultFontSize;
        font-family: $defaultFontFamily;
        height: 100%;
        margin: 0 5px 0;
      }

      &__icon {
        &--left {
          margin-left: 9px;
        }

        &--right {
          margin-right: 10px;
        }
      }
    }

    &__menu {
      position: absolute;
      transform: translateY(4px);
      padding: 5px 0 5px;
      width: 166px;
      top: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.17);
      overflow: auto;
      max-height: 300px;
      background-color: #fff;
      z-index: 9999999999;

      &__item {
        margin: 4px 8px;
        border-radius: 8px;
        padding: 4px 12px 4px;
        color: $primaryTextColor;
        font-size: $defaultFontSize;
        font-family: $defaultFontFamily;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          background-color: #E9E9E9;
        }

        &.selected {
          background-color: rgba(75, 176, 99, 0.1);
          font-weight: 600;
          color: $primaryColor;
        }
      }
    }
  }
}
