@import '../../style/common';

.timecamp {
  .duration {
    float: left;

    &__input {
      display: block;
      width: 161px;
      height: 39px;
      margin: 0 10px 0 0;
      padding: 0 19px 0 0;
      border-radius: 8px;
      border: solid 1px $primaryBorderColor;
      background-color: $durationInputBackgroundColor;
      text-align: right;
    }
  }
}
