$primaryColor: #4bb063;
$primaryBackgroundColor: #ffffff;
$primaryBorderColor: #dbdbdb;
$hoverBorderColor: rgba($primaryColor, 0.5);

$primaryTextColor: #3d3d3d;
$secondaryTextColor: #8a8a8a;
$tertiaryTextColor: #6b6b6b;
$quaternaryTextColor: #393939;
$quinaryTextColor: #797979;

$buttonTextColor: $primaryTextColor;
$buttonColor: #ffffff;
$buttonActiveColor: $primaryColor;
$buttonActiveTextColor: #ffffff;
$durationInputBackgroundColor: #f2f2f2;
$buttonDisabledColor: #f2f2f2;

$primaryShadowColor: #dcdcdc;
$secondaryShadowColor: hsla(0, 0%, 70%, .5);

$disabledFontColor: #8a8a8a;

$taskPickerFontColor: #3d3d3d;
$taskPickerPathFontColor: #4f4f4f;

$labelFontColor: #8a8a8a;
$redOrangeColor: #ff4c00;

$defaultBorderRadius: 8px;
$defaultBorderColor: #aea6ab;

$defaultFieldBackgroundColor: #f8f8f8;

$infoFieldBackgroundColor: #d9e9fe;
$infoFieldBorderColor: #388ef8;
$infoFieldTextColor: #4193f8;
$infoFieldTextColor2: #2380e3;

$errorFieldBackgroundColor: #ffd8cc;
$errorFieldBorderColor: #ff3c00;
$errorFieldTextColor: #ff3c00;

//popup
$popupBackground: #ffffff;
$popupBorderGray: #dcdcdc;
$popupBorderGraySecond: #dbdbdb;
$popupShadowGray: #dcdcdc;
$popupDisabledFontColor: #8a8a8a;
$popupPrimaryTextColor: #3d3d3d;
$popupGreen: #4bb063;
$popupGray: #8a8a8a;
$popupGraySecond: #3d3d3d;
$popupGrayThird: #f8f8f8;
$popupLinkColor: #4990e2;

$errorTextColor: #3c763d;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$defaultFontFamily: 'Poppins', sans-serif;
$defaultFontSize: 14px;

@mixin theme-variables {
    --primaryTextColor: #{$primaryTextColor};
    --primaryBackgroundColor: #{$primaryBackgroundColor};
    --defaultBorderColor: #{$defaultBorderColor};
    --infoFieldBackgroundColor: #{$infoFieldBackgroundColor};
    --infoFieldBorderColor: #{$infoFieldBorderColor};
    --primaryBorderColor: #{$primaryBorderColor};
    --primaryColor: #{$primaryColor};
    --labelFontColor: #{$labelFontColor};
    --popupGreen: #{$popupGreen};
    --popupGray: #{$popupGray};
    --popupGraySecond: #{$popupGraySecond};
    --popupGrayThird: #{$popupGrayThird};
    --popupBorderGray: #{$popupBorderGray};
    --popupBorderGraySecond: #{$popupBorderGraySecond};
    --popupShadowGray: #{$popupShadowGray};
    --popupBackground: #{$popupBackground};
    --hoverBorderColor: #{$hoverBorderColor};
    --quinaryTextColor: #{$quinaryTextColor};
    --defaultFieldBackgroundColor: #{$defaultFieldBackgroundColor};
    --secondaryTextColor: #{$secondaryTextColor};
    --durationInputBackgroundColor: #{$durationInputBackgroundColor};
    --disabledFontColor: #{$disabledFontColor};
    --tertiaryTextColor: #{$tertiaryTextColor};
    --primaryShadowColor: #{$primaryShadowColor};
    --buttonActiveColor: #{$buttonActiveColor};
    --buttonActiveTextColor: #{$buttonActiveTextColor};
    --buttonDisabledColor: #{$buttonDisabledColor};
    --popupDisabledFontColor: #{$popupDisabledFontColor};
    --popupPrimaryTextColor: #{$popupPrimaryTextColor};
    --taskPickerFontColor: #{$taskPickerFontColor};
    --redOrangeColor: #{$redOrangeColor};
    --taskPickerPathFontColor: #{$taskPickerPathFontColor};
    --errorFieldBorderColor: #{$errorFieldBorderColor};
    --secondaryShadowColor: #{$secondaryShadowColor};
    --errorFieldBackgroundColor: #{$errorFieldBackgroundColor};
    --errorFieldTextColor: #{$errorFieldTextColor};
    --infoFieldTextColor2: #{$infoFieldTextColor2};
    --infoFieldTextColor: #{$infoFieldTextColor};
    --quaternaryTextColor: #{$quaternaryTextColor};
    --popupLinkColor: #{$popupLinkColor};
    --errorTextColor: #{$errorTextColor};
    --buttonColor: #{$buttonColor};
    --buttonTextColor: #{$buttonTextColor};


    $primaryBackgroundColor: #222324;
    $primaryTextColor: #bbbbba;
    $fieldBackgroundColor: #272829;
    $fieldBorderColor: #272829;
    &[data-theme='darkmode'] {
        --primaryTextColor: #{$primaryTextColor};
        --primaryBackgroundColor: #{$primaryBackgroundColor};
        --infoFieldBackgroundColor: #{$primaryBackgroundColor};
        --popupBackground: #{$primaryBackgroundColor};
        --defaultFieldBackgroundColor: #{$fieldBackgroundColor};
        --durationInputBackgroundColor: #{$fieldBackgroundColor};
        --taskPickerFontColor: #{$primaryTextColor};
        --taskPickerPathFontColor: #{$primaryTextColor};
        --primaryBorderColor: #{$fieldBorderColor};
        --popupShadowGray: #{$primaryBackgroundColor};
        --primaryShadowColor: #{$primaryBackgroundColor};
        --secondaryShadowColor: #{$primaryBackgroundColor};
        --popupBorderGraySecond: #{$fieldBorderColor};
        --popupGrayThird: #{$fieldBackgroundColor};
        --popupPrimaryTextColor: #{$primaryTextColor};
        --popupGraySecond: #{$primaryTextColor};
        --popupGray: #{$primaryTextColor};
        --popupBorderGray: #{$fieldBorderColor};

        //defaults
        --popupDisabledFontColor: #{$popupDisabledFontColor};
        --popupGreen: #{$popupGreen};
        --defaultBorderColor: #{$defaultBorderColor};
        --buttonActiveTextColor: #{$buttonActiveTextColor};
        --infoFieldBorderColor: #{$infoFieldBorderColor};
        --primaryColor: #{$primaryColor};
        --labelFontColor: #{$labelFontColor};
        --hoverBorderColor: #{$hoverBorderColor};
        --quinaryTextColor: #{$quinaryTextColor};
        --secondaryTextColor: #{$secondaryTextColor};
        --disabledFontColor: #{$disabledFontColor};
        --tertiaryTextColor: #{$tertiaryTextColor};
        --buttonActiveColor: #{$buttonActiveColor};
        --buttonDisabledColor: #{$buttonDisabledColor};
        --redOrangeColor: #{$redOrangeColor};
        --errorFieldBorderColor: #{$errorFieldBorderColor};
        --errorFieldBackgroundColor: #{$errorFieldBackgroundColor};
        --errorFieldTextColor: #{$errorFieldTextColor};
        --infoFieldTextColor2: #{$infoFieldTextColor2};
        --infoFieldTextColor: #{$infoFieldTextColor};
        --quaternaryTextColor: #{$quaternaryTextColor};
        --popupLinkColor: #{$popupLinkColor};
        --errorTextColor: #{$errorTextColor};
        --buttonColor: #{$buttonColor};
        --buttonTextColor: #{$buttonTextColor};
    }
}