$primaryColor: #4bb063;
$primaryBackgroundColor: #ffffff;
$primaryBorderColor: #dbdbdb;
$hoverBorderColor: rgba($primaryColor, 0.5);

$primaryTextColor: #3d3d3d;
$secondaryTextColor: #8a8a8a;
$tertiaryTextColor: #6b6b6b;
$quaternaryTextColor: #393939;
$quinaryTextColor: #797979;

$buttonTextColor: $primaryTextColor;
$buttonColor: #ffffff;
$buttonActiveColor: $primaryColor;
$buttonActiveTextColor: #ffffff;
$durationInputBackgroundColor: #f2f2f2;
$buttonDisabledColor: #f2f2f2;

$disabledFontColor: #8a8a8a;

$taskPickerFontColor: #3d3d3d;
$taskPickerPathFontColor: #4f4f4f;

$labelFontColor: #8a8a8a;
$redOrangeColor: #ff4c00;
$algaeColor: #4bb063;

$defaultBorderRadius: 8px;

$defaultFieldBackgroundColor: #f8f8f8;

$infoFieldBackgroundColor: #d9e9fe;
$infoFieldBorderColor: #388ef8;
$infoFieldTextColor: #4193f8;
$infoFieldTextColor2: #2380e3;

$errorFieldBackgroundColor: #ffd8cc;
$errorFieldBorderColor: #ff3c00;
$errorFieldTextColor: #ff3c00;

//popup
$popupBackground: #ffffff;
$popupBorderGray: #dcdcdc;
$popupBorderGraySecond: #dbdbdb;
$popupShadowGray: #dcdcdc;
$popupDisabledFontColor: #8a8a8a;
$popupPrimaryTextColor: #3d3d3d;
$popupGreen: #4bb063;
$popupGray: #8a8a8a;
$popupGraySecond: #3d3d3d;
$popupGrayThird: #f8f8f8;
$popupLinkColor: #4990e2;

$errorTextColor: #3c763d;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$defaultFontFamily: 'Poppins', sans-serif;
$defaultFontSize: 14px;

// theme 
$themeDefaultBackgroundColor: #ffffff;
$themeDarkBackgroundColor: #222324;

$themeDarkBackgroundColorSecondary: #323333;
 
$themeDefaultBorderColor:#aea6ab;
$themeDefaultBorderColorSecondary: #dbdbdb;

$themeDarkBorderColor: #646565;

$themeDefaultBackgroundHover: #f8f8f8;
$themeDarkBackgroundHover: #565757;

$themeDarkLabelColor: #BBBEBB;

$themeDefaultBorderDisabledColor:#f2f2f2;
$themeDarkBorderDisabledColor: $themeDarkBorderColor;

$themeDefaultColorDisabled: $disabledFontColor;
$themeDarkColorDisabled: rgb(111,111,111);

@mixin theme-variables {
    --theme-background-color: #{$themeDefaultBackgroundColor};
    --theme-background-color-secondary: #{$themeDefaultBackgroundColor};
    --theme-background-hover: #{$themeDefaultBackgroundHover};
    --theme-color: #{$primaryTextColor};
    --theme-task-picker-color: #{$taskPickerFontColor};
    --theme-color-disabled: #{$disabledFontColor};
    --theme-box-shadow: 0 6px 32px 0 #{$popupShadowGray};
    --theme-border-color: #{$themeDefaultBorderColor};
    --theme-border-color-secondary: #{$themeDefaultBorderColorSecondary};
    --theme-label-color: #{$primaryTextColor};
    --theme-border-display-color: #{$primaryBorderColor};
    --theme-border-disabled-color: #{$themeDefaultBorderDisabledColor};

    &[data-theme='darkmode']{    
    --theme-background-color: #{$themeDarkBackgroundColor};
    --theme-background-color-secondary:#{$themeDarkBackgroundColorSecondary};
    --theme-color-disabled: #{$themeDarkColorDisabled};
    --theme-color: white;
    --theme-task-picker-color: white;
    --theme-box-shadow: 0 6px 32px 0 black;
    --theme-background-hover: #{$themeDarkBackgroundHover};
    --theme-border-color: #{$themeDarkBorderColor};
    --theme-border-color-secondary: #{$themeDarkBorderColor};
    --theme-label-color: #{$themeDarkLabelColor};
    --theme-border-display-color: transparent;
    --theme-border-disabled-color: #{$themeDarkBorderDisabledColor};   
    }  
}