.tc-button.google-docs {
  background-size: 17px;
  padding-left: 5px;
  margin-left: 5px;

  svg{
    margin-bottom: 4px;
    width: 115px;
  }
  
  .tc-start-button {
    text {
      font-size: 15px!important;
    }
  }
}
