@import 'common';
@import 'reset-styles';

.tc-button {
  display: inline-block !important;
  user-select: none;
  -moz-user-select: none;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  text-decoration: none !important;
  cursor:pointer;

  svg {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;

    text {
      font-family: $defaultFontFamily!important;
    }
  }

  .tc-stop-button .timer {
    font-family: $defaultFontFamily!important;
  }
}

.tc-button.min  {
  overflow: hidden;
  svg  {
    width: 17px;
  }
}


//Overriding main styles for integrations
@import "asana";
@import "airtable";
@import "axosoft";
@import "axosoft";
@import "backlog";
@import "bitbucket";
@import "bitrix24";
@import "brokerengine";
@import "bugherd";
@import "bugzilla";
@import "cerb";
@import "cloudes";
@import "clubhouse";
@import "coda";
@import "codeable";
@import "codebase";
@import "corgee";
@import "desk";
@import "devdocs";
@import "dobambam";
@import "doit";
@import "dokuwiki";
@import "draftin";
@import "drupal";
@import "dynamics";
@import "eproject";
@import "esa";
@import "eventum";
@import "feedly";
@import "fibery";
@import "figma";
@import "flow";
@import "focuster";
@import "fogbugz";
@import "freedcamp";
@import "freshrelease";
@import "freshservice";
@import "gemini";
@import "getflow";
@import "gingkoapp";
@import "gogs";
@import "google-classroom";
@import "google-docs";
@import "google-inbox";
@import "google-keep";
@import "google-mail";
@import "google-calendar";
@import "gqueues";
@import "groupnwork";
@import "habitica";
@import "heflo";
@import "hubspot";
@import "husky-marketing-planner";
@import "infinity";
@import "kanbanery";
@import "kanbanist";
@import "kanboard";
@import "kantree";
@import "khanacademy";
@import "liquidplanner";
@import "liveagent";
@import "mantishub";
@import "manuscript";
@import "minicrm";
@import "monday";
@import "nela";
@import "newsletter2go";
@import "notion";
@import "odoo";
@import "onlyoffice";
@import "onshape";
@import "openproject";
@import "osticket";
@import "outlook";
@import "overv";
@import "pagerduty";
@import "phabricator";
@import "pipedrive";
@import "pipefy";
@import "placker";
@import "planbox";
@import "podio";
@import "processwire";
@import "produck";
@import "producteev";
@import "protonmail";
@import "proworkflow";
@import "redbooth";
@import "redmine";
@import "rememberthemilk";
@import "reviewboard";
@import "rindle";
@import "rollbar";
@import "salesforce";
@import "scoro";
@import "scrapbox";
@import "sherpadesk";
@import "sifterapp";
@import "smartboard";
@import "sourcelair";
@import "spidergap";
@import "sprintly";
@import "teamleader";
@import "testrail";
@import "ticktick";
@import "todoist";
@import "toggl-plan";
@import "toodledo";
@import "trac";
@import "trello";
@import "turtle";
@import "unfuddle";
@import "usepixie";
@import "versionone";
@import "visualstudio";
@import "vivifyscrum";
@import "waffle";
@import "wekan";
@import "wikipedia";
@import "wordpress";
@import "workast";
@import "workflowy";
@import "workfront";
@import "worksection";
@import "youtrack";
@import "zammad";
@import "zenhub";
@import "zenkit";
@import "zohobooks";
@import "zube";
