.tc-button.monday {
  &__table-view {
    height: 100%;
    top: 7px;
    position: relative;

  }

  &__edit-view {
    margin: 5px 0 0 0;
  }
}

.personal-assistant-content-view .ds-text-component {
  position: relative;
}

.deadline-task-component-content:hover {
  .tc-button.monday__calendar-view {
    opacity: 1;
  }
}
