.tc-button.notion {
  cursor: pointer!important;
}
.tc-button.notion:not(.min) {
  margin: -3px 0px 0px 10px;
}
.tc-button.notion.min {
  display: flex!important;
  margin: 5px 0 0 0;
  padding: 0 2px 0 0;
}