.tc-button.notion {
  cursor: pointer !important;
  display: inline-flex !important;
  margin: 0 6px 0 0;
  height: 28px;
}

.tc-button.notion.min {
  display: flex !important;
  margin: 0 4px 0 0;
  height: 20px;
}