section.item-content .task-list [data-id] .bd,
#wrapper.space .gridster .tasks-wrapper .gridster-widget.tasks .content [data-id] .bd {
  position: relative;
}

.tc-button.podio {
  &__tasks-list-widget {
    position: absolute;
    top: 50%;
    transform: translate(0, -60%);
    margin-left: 10px;
  }
  &__items-list {
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -4px;
  }
}