.tc-button.smartsheet {
  padding-left: 8px;
  padding-bottom: 5px;
}

.tc-button.smartsheet-task {
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.tc-button.smartsheet-grid {
  position: absolute;
  left: 4px;
}
.tc-button.smartsheet-card {
  height: 20px;
  margin: -4px 5px 0 1px;
}

.timecamp .footer__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & .footer__button-save {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
