.tc-button.todoist {
  &__task-view {
    margin-left: 5px;
    svg {
      width: 110px;
    }
  }

  &__task-list {
    margin: 0 0 0 10px;
    background-color: inherit;
    svg {
      width: 24px;
    }
  }

  &__task-board {
    opacity: 0;
    z-index: 1;
    position: absolute;
    right: 0;
    &.active {
      opacity: 1;
    }
  }
}

.board_task {
  .board_task__details__content {
    margin-right: 44px;
  }
  &:hover {
    .tc-button.todoist {
      &__task-board {
        opacity: 1;
        right: 30px;
      }
    }
  }
}
