.tc-button.trello {
  &__table-view {
    position: absolute;
    right: 34px;
    z-index: 1;
    padding: 0 2px 2px 0;
    opacity: 0;

    svg {
      width: 20px;
    }

    &.active {
      opacity: 1;
      right: 10px;
    }
  }

  &__board-view {
    position: relative;
    padding-bottom: 2px;
    margin-top: 2px;
    opacity: 0;

    svg {
      width: 20px;
    }

    &.active {
      opacity: 1;
    }
  }

  &__card-view {
    margin-top: 5px;

    svg {
      width: 100%;

      rect:first-child {
        height: 29px;
        fill: #eaecf0!important;
        rx: 3;
        ry: 3;
      }

      text {
        fill: #172B4D!important;
      }

      path, rect:last-child {
        fill: #42526e!important;
      }

      &.tc-start-button {
        text {
          transform: matrix(1, 0, 0, 1, 6.7993, 8.5505);
          font-size: 12px!important;
        }

        path {
          transform: matrix(0.86603, -0.49999, 0.49999, 0.86603, 6.7351, 27.3558);
          d: path("M 28.4752 12.9376 C 29.1952 11.7128 29.9152 11.7128 30.6352 12.9376 L 35.6752 21.5088 C 36.3952 22.7336 36.0352 23.3456 34.5952 23.3456 L 24.5152 23.3456 C 23.0752 23.3456 22.7152 22.7336 23.4352 21.5088 Z");
        }
      }


      &.tc-stop-button {
        text {
          transform: matrix(1, 0, 0, 1, 18.7993, 8.5505);
          font-size: 12px !important;
        }

        rect:last-child {
          transform: matrix(1, 0, 0, 1, 21.7993, 10.5505);
          width: 13px;
          height: 13px;
        }
      }
    }

    &:hover {
      svg rect:first-child {
        fill: #e2e4e9!important;
      }
    }
  }
}

.tabbed-pane-main-col div[data-test-class="table-row"] span {
  &:hover {
    .tc-button.trello {
      &__table-view {
        opacity: 1;

        &.active {
          right: 34px;
        }
      }
    }
  }
}

.list-card {
  &:hover {
    .tc-button.trello {
      &__board-view {
        opacity: 1;
      }
    }
  }
}
