name: Node.js CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.17.1]

    steps:
    - name: Authenticate with private NPM package
      run: echo "${{ secrets.NPM_RC_CONTENT }}" > ~/.npmrc

    - uses: actions/checkout@v5

    - name: get-npm-version
      id: package-version
      uses: martinbeentjes/npm-get-version-action@main

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm install --legacy-peer-deps && npm run build-prod

    - uses: actions/upload-artifact@v5
      with:
        name: timecamp-browser-extension-${{ steps.package-version.outputs.current-version}}.zip
        path: dist/timecamp-browser-extension-${{ steps.package-version.outputs.current-version}}.zip

    - run: export SERVER_DOMAIN=app.timecamp.local && npm install --legacy-peer-deps && npm run build-prod-unsafe

    - uses: actions/upload-artifact@v5
      with:
        name: timecamp-browser-extension-${{ steps.package-version.outputs.current-version}}-local.zip
        path: dist/timecamp-browser-extension-${{ steps.package-version.outputs.current-version}}.zip
