@import "../../../style/common";

.tc-popup-footer {
  font-family: $defaultFontFamily;
  font-size: 14px;
  font-weight: normal;

  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 10px;

  &__button-anchor {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__href {
      color: #2380e3;
      font-size: 12px;
    }
    & svg {
      margin-right: 0.3rem;
    }
  }
  &__button-cancel {
    border: solid 1px $primaryBorderColor;
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    width: 39px;
    height: 39px;
    background-color: transparent;
    color: #4f4f4f;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
  }
  &__button-add {
    width: 133px;
    height: 39px;
    border-radius: 8px;
    background-color: $popupGreen;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 0.5rem;
    
    &:hover {
      opacity: 0.8;
    }

    svg {
      font-size: 17px;
    }

    &__icon {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & span {
      text-transform: uppercase;
    }
  }

  &__user-img {
    cursor: pointer;
  }

  &__button-go-to-timesheet {
    font-size: 14px;
    width: 149px;
    height: 39px;
    border-radius: 8px;
    border: solid 1px $popupBorderGraySecond;
    background-color: white;
    color: $popupGraySecond;
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      background-color: $popupGrayThird;
      border: $popupBorderGraySecond;
    }

    svg {
      color: $popupGray;
      margin: 0 10px 0 0;
      font-size: 16px;
    }
  }
}
