@import '../../../style/common';

.tc-popup-footer {
  font-family: $defaultFontFamily;
  font-size: 14px;
  font-weight: normal;

  display: flex;
  justify-content: space-between;
  border-top: solid 1px var(--popupBorderGray);
  padding-top: 20px;
  margin-top: 28px;

  .user-img {
    height: 39px;
    border-radius: 50%;

    &:hover {
      border: solid 1px var(--popupGreen);
      padding: 5px;
      margin: -6px;
    }
  }

  &__button-add {
    width: 39px;
    height: 39px;
    border-radius: 8px;
    background-color: var(--popupGreen);
    border: none;
    color: var(--popupBackground);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    svg {
      font-size: 17px;
    }
  }

  &__user-img {
    cursor: pointer;
  }

  &__button-go-to-timesheet {
    font-size: 14px;
    width: 149px;
    height: 39px;
    border-radius: 8px;
    border: solid 1px var(--popupBorderGraySecond);
    background-color: var(--defaultFieldBackgroundColor);
    color: var(--popupGraySecond);
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      background-color: var(--popupGrayThird);
      border: var(--popupBorderGraySecond);
    }

    svg {
      color: var(--popupGray);
      margin: 0 10px 0 0;
      font-size: 16px;
    }
  }

  &__user-slide-window {
    box-shadow: 0 6px 32px 0 var(--popupShadowGray);
    padding: 10px;
    height: 114px;
    width: 265px;
    background: var(--popupBackground);
    position: absolute;
    top: 25%;
    right: -1px;
    display: none;

    .section-top {
      display: flex;
      flex-direction: row;
      padding: 10px;

      &:hover {
        background-color: var(--popupGrayThird);
        border-radius: 8px;
      }

      a {
        display: flex;
        text-decoration: none;
        &:visited {
          color: inherit;
        }
      }

      .user {
        &__display-name {
          margin-left: 9px;
          font-weight: bold;
        }

        &__email {
          margin-left: 9px;
          color: var(--popupGray);
          font-size: 12px;
        }
      }
    }

    .section-bottom {
      border-top: solid 1px var(--popupBorderGray);
      margin-top: 9px;
      padding-top: 10px;

      &__button-sign-out {
        border: none;
        cursor: pointer;
        font-size: 14px;
        text-align: left;
        width: 100%;
        height: 35px;
        background-color: var(--popupBackground);
        color: var(--popupGraySecond);
        font-family: $defaultFontFamily;
        padding: 9px;

        &:hover {
          background-color: var(--popupGrayThird);
          border-radius: 8px;
        }

        svg {
          color: var(--popupGray);
          font-size: 16px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    &--visible {
      display: block;
    }
  }
}
